<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Admin</title>
</head>

<body>
    {% block content %}
    <h1>Bem-vindo, Admin!</h1>
    <p>Lista de bicicletas:</p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for bicicleta in bicicletas %}
            <tr>
                <td>{{ bicicleta[0] }}</td>
                <td>{{ bicicleta[1] }}</td>
                <td>{{ bicicleta[2] }}</td>
                <td>{{ bicicleta[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
    <div align="center"><a href="{{ url_for('edicao') }}">Editar</a>
    <a href="{{ url_for('logout') }}">Logout</a></div>

</body>

</html>