<!DOCTYPE html>
<html>

<head>
    <title>Minha aplicação Flask</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Página de Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <label>Usuário:</label>
        <input type="text" name="usuario"><br>
        <label>Senha:</label>
        <input type="password" name="senha"><br>
        <input type="submit" value="Entrar">
    </form>

    <br>
    <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
</body>

</html>