<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Bikes for rent</title>
</head>

<body>
 {% block content %}
     <h1>Lista de bicicletas</h1>
     <table>
         <tr>
             <th>ID</th>
             <th>Tipo</th>
             <th>Valor Aluguel</th>
             <th>Estoque</th>
             <th>Ações</th>
         </tr>
         {% for bike in bikes %}
             <tr>
                 <td>{{ bike[0] }}</td>
                 <td>{{ bike[1] }}</td>
                 <td>{{ bike[2] }}</td>
                 <td>{{ bike[3] }}</td>
                 <td>
                     <form action="{{ url_for('alugar', id=bike[0]) }}" method="POST">
                         <button type="submit" {% if bike[3] == 0 %}disabled{% endif %}>Alugar</button>
                     </form>
             </tr>
         {% endfor %}
     </table>
     <div align="center">{{ get_flashed_messages() }}
        <buttom><a href="{{ url_for('index') }}">Logout</a></buttom>
     </div>
 {% endblock %}

</td>
</body>

</html>