<!DOCTYPE html>
<html>

<head>
    <title>Minha aplicação Flask</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Cadastro de Cliente</h1>
    <form method="POST" action="{{ url_for('cadastrar') }}">
        <label>Nome:</label>
        <input type="text" name="nome"><br>
        <label>Email:</label>
        <input type="text" name="email"><br>
        <label>Senha:</label>
        <input type="password" name="senha"><br>
        <input type="submit" value="Cadastrar">
    </form>

    <br>
    <a href="{{ url_for('index') }}">Voltar para a página de login</a>
</body>

</html>